.products-screen{
    background: white;
    box-shadow: rgba(121, 120, 120, 0.2) 0px 2px 8px 0px; 
    border-radius: 8px;     
    padding: 50px;
    margin-bottom: 50px;
    &__hero{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;

        p{
            margin: 0;
            padding: 0;
        }

        a{
            text-decoration: none;
            color: gray;
        }

    }


    &__products{
        display: flex;
        gap: 40px;
        
        &-flex{
            display: flex;
            gap: 15px;
            align-items: center;

            &-left{
            width: 100px;
            cursor: pointer;
            

            img{
                width: 100%;
            }

            .border-img{
                border: 2px solid red;
                border-radius: 8px;
            }
    
        }

        &-right{
            width: 440px;
            height: 440px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        }

        &-info{
            flex: 1;

            button{
                width: 100%;
                background: #E52A34;
                border: none;
                border-radius: 10px;
                padding: 20px;
                cursor: pointer;
                p{
                    font-weight: 600;
                    font-size: 18px;
                    color: white;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 10px;
                }
                span{
                    color: white;
                }

            }

            .title{
                font-size: 22px;
                font-weight: 620;
            }

            .quantity{
                font-size: 17px;
                color: rgb(50, 50, 50);
                span{
                    color: red;
                    font-weight: 610;
                }
            }


            &-price{
                display: flex;
                gap: 20px;
                align-items: center;
                .new-price{
                    color: red;
                    font-weight: 620;
                    font-size: 28px;
                }
                .old-price{
                    color: gray;
                    font-size: 19px;
                    text-decoration: line-through;
                }
                .sale{
                    color: red;
                    padding: 3px 5px;
                    border: 1px solid red;
                    border-radius: 35%;
                    background: rgb(255, 213, 213);
                }

            }
        }
    }
}

.infoProducts{
    display: flex;
    gap: 30px;

    &__eva{
        width: 900px;
        // box-shadow: rgba(121, 120, 120, 0.2) 0px 2px 8px 0px; 
        // padding: 25px;

        &-top{
            box-shadow: rgba(121, 120, 120, 0.2) 0px 2px 8px 0px; 
            padding: 25px;
            margin-bottom: 20px;
            border-radius: 8px;

            p{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgb(216, 216, 216);
                padding-bottom: 5px;
            }
        }
        &-bot{
            box-shadow: rgba(121, 120, 120, 0.2) 0px 2px 8px 0px; 
            padding: 25px;
            border-radius: 8px;
        }


        &-similar{
            box-shadow: rgba(121, 120, 120, 0.2) 0px 2px 8px 0px; 
            padding: 25px;
            border-radius: 8px;
        }

        h5{
            font-size: 22px;
        }
    }

    
    &__news{
        box-sizing: border-box;
        width: 500px;
        padding: 25px;
        box-shadow: rgba(64, 64, 64, 0.2) 0px 2px 8px 0px; 
        border-radius: 8px;
        h5{
            font-size: 22px;
        }

        &-info{
            display: flex;
            text-decoration: none;
            color: black;

            &:hover &-title p{
                color: rgb(223, 52, 13);
            }
            &-title{
                width: 200px;
                height: 115px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 5px;
                span{
                    color: gray;
                }
                p{
                    margin: 0;
                    padding: 0;
                    white-space: wrap;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
            &-img{  
                width: 300px;
                border-radius: 10px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }

}